[submodule "tvm"]
	path = tvm
	url = https://github.com/grwlf/tvm
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/grwlf/nixpkgs
[submodule "internal"]
	path = internal
	url = http://code-sh.rnd.huawei.com/mrc-cbg-opensource/hitvm-internal.git
