[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/nixos/nixpkgs
[submodule "internal"]
	path = internal
	url = http://code-sh.rnd.huawei.com/mrc-cbg-opensource/hitvm-internal.git
[submodule "src/mironov/htvm"]
	path = src/mironov/htvm
	url = https://github.com/grwlf/htvm
[submodule "src/mironov/tvm"]
	path = src/mironov/tvm
	url = https://github.com/dmlc/tvm
